In [2]:
import pandas as pd

# Times and speedup

In [9]:
df = pd.read_csv("../out/data.csv", delimiter=";")
df

   file_name     time procs_per_node nodes
0      1_2_2  3:55.47              1     2
1      1_4_4  2:07.51              1     4
2      1_8_8  1:08.17              1     8
3      2_2_4  2:07.54              2     2
4      2_4_8  1:08.18              2     4
5     2_8_16  0:37.22              2     8
6     3_4_12  0:47.64              3     4
7     3_8_24  0:36.75              3     8
8    4_16_64  0:22.40              4    16
9   4_32_128  0:25.26              4    32
10    4_8_32  0:21.46              4     8
11      data      NaN           data  data

In [18]:
df["seconds"] = 0

In [28]:
base_time = 353.5

In [20]:
for i in range(11):
    time_string = df["time"][i]
    splitted_string = time_string.split(":")
    df["seconds"][i] = float(splitted_string[0]) * 60 + float(splitted_string[1])

/tmp/ipykernel_20651/2175031343.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["seconds"][i] = float(splitted_string[0]) * 60 + float(splitted_string[1])

In [27]:
df

   file_name     time procs_per_node nodes  seconds
0      1_2_2  3:55.47              1     2      235
1      1_4_4  2:07.51              1     4      127
2      1_8_8  1:08.17              1     8       68
3      2_2_4  2:07.54              2     2      127
4      2_4_8  1:08.18              2     4       68
5     2_8_16  0:37.22              2     8       37
6     3_4_12  0:47.64              3     4       47
7     3_8_24  0:36.75              3     8       36
8    4_16_64  0:22.40              4    16       22
9   4_32_128  0:25.26              4    32       25
10    4_8_32  0:21.46              4     8       21

In [29]:
df["speedup"] = base_time / df["seconds"]
df

   file_name     time procs_per_node nodes  seconds    speedup
0      1_2_2  3:55.47              1     2      235   1.504255
1      1_4_4  2:07.51              1     4      127   2.783465
2      1_8_8  1:08.17              1     8       68   5.198529
3      2_2_4  2:07.54              2     2      127   2.783465
4      2_4_8  1:08.18              2     4       68   5.198529
5     2_8_16  0:37.22              2     8       37   9.554054
6     3_4_12  0:47.64              3     4       47   7.521277
7     3_8_24  0:36.75              3     8       36   9.819444
8    4_16_64  0:22.40              4    16       22  16.068182
9   4_32_128  0:25.26              4    32       25  14.140000
10    4_8_32  0:21.46              4     8       21  16.833333

In [33]:
print("Max speedup = " + str(max(df["speedup"])))
print("Min time = " + str(min(df["seconds"]))+" seconds")

Max speedup = 16.833333333333332
Min time = 21 seconds

In [35]:
df.to_csv("../out/processed_data.csv")

# Plots

In [40]:
pd.to_numeric(df["procs_per_node"])
df["total_procs"] = pd.to_numeric(df["procs_per_node"]) * pd.to_numeric(df["nodes"])
df

   file_name     time procs_per_node nodes  seconds    speedup  total_procs
0      1_2_2  3:55.47              1     2      235   1.504255            2
1      1_4_4  2:07.51              1     4      127   2.783465            4
2      1_8_8  1:08.17              1     8       68   5.198529            8
3      2_2_4  2:07.54              2     2      127   2.783465            4
4      2_4_8  1:08.18              2     4       68   5.198529            8
5     2_8_16  0:37.22              2     8       37   9.554054           16
6     3_4_12  0:47.64              3     4       47   7.521277           12
7     3_8_24  0:36.75              3     8       36   9.819444           24
8    4_16_64  0:22.40              4    16       22  16.068182           64
9   4_32_128  0:25.26              4    32       25  14.140000          128
10    4_8_32  0:21.46              4     8       21  16.833333           32